.header {
    background-color: #fff;
    &-top {
        display: flex;
        // justify-content: flex-end;
        text-align: right;
        height: 60px;
        line-height: 60px;
        padding: 0 30px;
        a {
            margin-left: 30px;
        }
        // common里header-top的样式修改
        &-logo {
            line-height: 60px;
            text-align: left;
            font-size: 18px;
            img{
                height: 40px;
                vertical-align: middle;
            }
            span{
                margin:0 5px;
            }
        }
    }
    &-crumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #1DA57A;
        &-title {
            text-align: center; 
            font-size: 16px;
            &::after {
                position: absolute;
                content: '';
                bottom: -9px;
                left: 50%;
                transform: translate(-50%);
                border-top: 9px solid #fff;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
            }
        }
        &-weather {
            text-align: right;
            &Time {
                margin-right: 10px;
            }
        }
    }
}

// common里面的header整体样式
.simple-page {
    .header-top {
      background:#1DA57A;
      color:#fff;
      a {
        color:#f9c700;
      }
    }
}