.clientRes {
    // antd card样式修改
    .ant-card-bordered {
        box-shadow:0 0 8px 1px #cecbbf;
        border-radius: 10px;
        background-color: rgba(249, 199, 0, 0.3);
        .ant-card-head-title {
            font-size: 1.5rem;
            color: #6cffd1
        }
    }
    // antd FormItem样式修改
    .ant-form-item {
        padding-bottom: 12px;
        .ant-form-explain {
            color: #f9c700;
            font-size: 1rem;
        }
    }
    Input, Button{
        height: 42px;
        font-size: 1rem;
        border-radius: 10px;
        opacity: 0.9;
    }
}
